.scoreboard {
    width: 1120px;
    margin: 40px auto;
    font-size: 18px;

    &__nav {
        display: flex;
    }

    &__link {
        display: flex;
        align-items: center;
        height: 60px;
        width: 100%;
        font-size: 24px;
        font-weight: 600;
        border-radius: 60px 60px 0 0;
        text-transform: uppercase;
        color: #fff;
        background: #73d2f0;
        text-decoration: none;
        cursor: pointer;

        & i {
            margin-right: 15px;
            font-size: 40px;
        }

        &_active {
            color: #1eb7ee;
            background: #fff;
            z-index: 1;
        }

        &:not(.scoreboard__link_active):hover {
            background: #1eb7ee;
        }

        &_departures {
            padding-right: 150px;
            margin-right: -60px;
            align-items: center;
            justify-content: flex-end;
        }

        &_arrivals {
            padding-left: 150px;
            margin-left: -60px;
        }
    }

    &__table-wrapper {
        padding-top: 50px;
        background-color: #fff;
    }
}

.flights-list {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    &__header tr th {
        padding-bottom: 10px;
    }

    &__header tr th:first-child {
        text-align: center;
    }
}

td {
    padding: 20px 0;
}

tbody tr:hover {
    box-shadow: 0 5px 10px rgba(37, 40, 41, 0.3);
}

tbody tr:nth-child(odd) {
    background-color: #e7efec;
}

tbody tr td:first-child {
    text-align: center;
}

th {
    color: #95989a;
}